/* Navbar.module.css */
.accountButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .text {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: linear-gradient(to right, green, green) no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s ease-in-out;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .textHoverEffect:hover .text {
    background-size: 100% 100%;
    animation: waterFloat 1s infinite;
  }
  
  @keyframes waterFloat {
    0% {
      text-shadow: 0 0 0 green;
    }
    50% {
      text-shadow: 0 0 10px green;
    }
    100% {
      text-shadow: 0 0 0 green;
    }
  }
  