.container{
    height:  300vh;
    position: relative;

    .sticky {
position: sticky;
top: 0px;
height: 100vh;
background-color: red;
    }
    .el{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .imageContainer{
            width: 25vw;
            height: 25vh;
            position: relative;
            img{
                object-fit: cover;
            }
        }
    }
}