.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 480px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

// Hide the default Swiper buttons
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

// Custom styles for navigation buttons
.custom-swiper-button-prev,
.custom-swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  transform: translateY(-50%);
  z-index: 10;
  transition: background-color 0.3s;

  &:hover {
    background-color: #333;
  }
}

// Styles for disabled buttons
.custom-swiper-button-prev.disabled,
.custom-swiper-button-next.disabled {
  background-color: #888;
  cursor: not-allowed;

  &:hover {
    background-color: #888;
  }
}

// Positioning the custom buttons
.custom-swiper-button-prev {
  right: 300px;
}

.custom-swiper-button-next {
  right: 230px;
}
