.no-scrollbar {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none !important; /* WebKit (Chrome, Safari, etc.) */
  }


/* 
  .slim-scroll2 {
    scrollbar-width: thin !important; 
    -ms-overflow-style: none !important; 
} */

  .slim-scroll2::-webkit-scrollbar {
    width: 6px !important; /* Width of the scrollbar */
    height: 10px !important;
}

.slim-scroll2::-webkit-scrollbar-track {
    background: #f1f1f1 !important; /* Track color */
}

.slim-scroll2::-webkit-scrollbar-thumb {
    background-color: #00a76b !important; /* Thumb color */
    border-radius: 1px !important; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll2::-webkit-scrollbar-thumb:hover {
    background: #555 !important; /* Thumb color on hover */
}